body{
  margin: 10px;
  background-color: yellow;
}

.App {
  text-align: center;
}

.SignupBox {
  background: lightgreen;
  padding: 0.5em;
}

.LoginBox {
  background: lightblue;
  padding: 0.5em;
}

.LogoutBox {
  background: lightred;
  padding: 0.5em;
}

.paper-bubbles{
  height: 200px;
  width: 200px;
  border-radius: 80%;
  background-color: green;
}

.weather-photo{
  width: 300px;
  height: 400px;
}

.weather-widget{
  height: 500px;
  width: 400px;
  background-color: white;
}
