body {
  margin: 0px;
  background-image: url(./img/homepage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

/*font-family: 'Rock Salt', cursive;*/

a {
  color: white;
  text-decoration: none;
}

.App {
  text-align: center;
}

.SignupBox {
  background: lightgreen;
  padding: 0.5em;
}

.LoginBox {
  background: lightblue;
  padding: 0.5em;
}

.LogoutBox {
  background: lightred;
  padding: 0.5em;
}

.top-nav {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  color: white;
  margin: 0px;
}

.paper-bubbles {
  height: 200px;
  width: 200px;
  border-radius: 80%;
  background-color: rgba(0, 0, 0, 0.8);
}

.weather-photo {
  width: 400px;
  height: 200px;
}

.weather-widget {
  height: 500px;
  width: 400px;
  background-color: white;
  z-index: 2;
}
