body {
  margin: 0;
  padding: 0;
  background-image: url(./img/homepage1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

span {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 5px;
}

button {
  color: black !important;
}

.logo {
  font-family: 'Rock Salt', cursive;
}

.top-nav {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.nav-buttons {
  display: inline-block;
  margin: 10px;
}

.welcome {
  height: 300px;
  width: 500px;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

.paper-bubbles {
  height: 150px;
  width: 150px;
  margin: 10px;
  border-radius: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  line-height: 150px;
  display: inline-block;
}

.paper-bubbles:hover {
  cursor: pointer;
}

.weather-photo {
  width: 250px;
}

.weather-widget {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 250px;
  height: 450px;
  text-align: center;
  color: white;
  border-radius: 4px;
}

.park-cards-container {
  height: 500px;
  width: 500px;
  overflow: scroll;
}

.park-cards {
  height: 175px;
  width: 100px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  overflow: hidden;
  border-radius: 4px;
}

.park-name {
  padding: 5px;
  color: white;
}

.park-name:hover {
  background-color: rgba(200, 200, 200, 0.2);
  cursor: pointer;
}

.park-info {
  width: 400px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

.map-frame {
  border: 10px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  width: 400px;
  height: 500px;
  border-radius: 4px;
}

.map-frame > div > div {
  max-height: 500px !important;
  max-width: 450px !important;
}

.map-frame2 {
  border: 10px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  width: 400px;
  height: 500px;
  border-radius: 4px;
}

.map-frame2 > div {
  max-height: 500px !important;
  max-width: 450px !important;
}

.favs-container {
  height: 450px;
  width: 300px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 4px;
}

.margin {
  margin: 0 10px;
}

.black {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  text-align: center;
  width: 80%;
  border-radius: 4px;
}
/*.find {
  background: red;
}*/


font-family: 'Rock Salt', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Raleway', sans-serif;
